.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(12, 12, 56);
  height: 10dvh;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Comps {
  font-style: none;
  color: rgb(243, 243, 243);
  font-weight: 500;
  padding: 2.5dvh 1dvw 2.5dvh 1dvw;
  text-decoration-line: none;
}

.Comps:hover {
  background-color: rgba(247, 249, 250, 0.171);
  
}
